<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start" *ngIf="isDetail">
      <ion-back-button defaultHref="search"></ion-back-button> 
    </ion-buttons>
    <ion-title>
      Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <div style="display: flex; justify-content: center; align-items: center">
    <div class="rating" style="display: flex; gap: 0.5rem;">
      <ion-icon 
        *ngFor="let star of [1, 2, 3, 4, 5]; let i = index"
        [name]="i < user.avgScore ? 'star' : 'star-outline'"
        [color]="i < user.avgScore ? 'warning' : 'medium'"
        [attr.aria-label]="i < user.avgScore ? 'Filled star' : 'Empty star'"
        class="star-icon">
      </ion-icon>
    </div>
  </div>

  <div class="avatar-container">
    <div class="avatar">
      <img [src]="profileImageUrl" *ngIf="profileImageUrl" alt="Profile Picture">
      <ion-icon name="camera"></ion-icon>
    </div>
  </div>

  <ion-list>
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input [(ngModel)]="user.firstName" [disabled]="isDetail"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Apellido</ion-label>
      <ion-input [(ngModel)]="user.lastName" [disabled]="isDetail"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Teléfono</ion-label>
      <ion-input [(ngModel)]="user.phoneNumber" [disabled]="isDetail"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Dirección</ion-label>
      <ion-input [(ngModel)]="user.address" [disabled]="isDetail"></ion-input>
    </ion-item>
  </ion-list>

  <ion-button expand="block" *ngIf="isDetail && user.role === 'worker'" (click)="goToOffer()">Enviar oferta</ion-button>

  <ion-button expand="block" *ngIf="!isDetail" disabled>Guardar</ion-button>

  <ion-button expand="block" *ngIf="!isDetail" color="danger" (click)="logout()">Cerrar sesión</ion-button>

  <ion-label class="ion-margin-top">
    <ion-title>Comentarios</ion-title> 
  </ion-label>

  <ion-card *ngFor="let comment of comments" class="comment-card">
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/avatar.png"> 
      </ion-avatar>
      <ion-label>
        <h3>{{ comment.firstName }} {{ comment.lastName }}</h3>
      </ion-label>
    </ion-item>
    <ion-card-content>
      {{ comment.text }}
    </ion-card-content>
  </ion-card>

</ion-content>
