ion-fab-button {
    overflow: visible;
    position: relative;

    ion-label {
        position: absolute;
        top: -8px;
        right: 40px;

        color: white;
        background-color: rgba(0,0,0,0.7);
        line-height: 24px;
        padding: 4px 8px;
        border-radius: 4px;
    }
    contain: layout;
}

ion-fab {
    contain: layout;
}

.searchbar-toolbar {
    --background: var(--ion-color-primary);
    padding-top: 0;
    padding-bottom: 8px;
}
.custom-searchbar {
    --background: var(--ion-color-light);
    --border-radius: 8px;
    --box-shadow: none;
    --placeholder-color: var(--ion-color-medium);
}