<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/chats"></ion-back-button> 
    </ion-buttons>
    <ion-avatar slot="start" class="profile-photo">
      <img src="https://picsum.photos/80/80?random=1" alt="avatar">
    </ion-avatar>
    <ion-title>{{ role === 'employer' ? worker.fullName : employer.fullName }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="message-container">
    <div *ngFor="let message of messages" 
         class="message" 
         [ngClass]="{'sent': message.userId === userId, 'received': message.userId !== userId}">
      <div class="message-bubble">
        {{ message.text }}
      </div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar style="padding-left: 10px;">
    <ion-input [(ngModel)]="newMessage" placeholder="Escribe tu mensaje..."></ion-input>
    <ion-button (click)="sendMessage()" slot="end">
      <ion-icon name="send"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-footer>