.time-range {
    display: flex;
    align-items: center;
    gap: 10px;
  }
.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 20px;
}
.image-container {
    aspect-ratio: 1;
    overflow: hidden;
    border-radius: 8px;
    border: 1px solid #ccc;
}
.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.add-image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    cursor: pointer;
}
.add-image ion-icon {
    font-size: 24px;
}
rating-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.stars {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin: 20px 0;
}

star-icon {
    font-size: 32px;
    color: var(--ion-color-medium);
    cursor: pointer;
}

ion-icon.selected {
    color: var(--ion-color-warning);
}

.experience-text {
    font-size: 18px;
    color: var(--ion-color-dark);
    text-align: center;
    margin-top: 20px;
}

rating-item {
    width: 100%;
}