<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>{{ isDetail ? 'Detalle oferta' : 'Nueva oferta' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="stacked">Tipo de servicio</ion-label>
      <ion-select name="category" [disabled]="isDetail" [(ngModel)]="offer.serviceType" placeholder="Selecciona categoria">
        <ion-select-option value="type1">Electricidad</ion-select-option>
        <ion-select-option value="type2">Tipo de Servicio 2</ion-select-option>
        <ion-select-option value="type3">Tipo de Servicio 3</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Descripción</ion-label>
      <ion-textarea 
        [disabled]="isDetail"
        name="description"
        [(ngModel)]="offer.description" 
        rows="4"
      ></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Horario deseable</ion-label>
      <div class="time-range">
        <ion-input type="time" name="startTime" [(ngModel)]="offer.startTime"></ion-input>
        <span>-</span>
        <ion-input type="time" name="endTime" [(ngModel)]="offer.endTime"></ion-input>
      </div>
    </ion-item>

    <div class="image-grid">
      <div *ngFor="let image of offer.images; let i = index" class="image-container">
        <img [src]="image" (click)="openFullscreen(image)" />
      </div>
      <div *ngIf="!isDetail && offer.images.length < 3" class="image-container add-image" (click)="addImage()">
        <ion-icon name="add"></ion-icon>
      </div>
    </div>

    <ion-button *ngIf="!isDetail" expand="block" >Enviar oferta</ion-button>
  </form>

  <div *ngIf="isDetail" class="ion-padding">
    <ion-button expand="block" color="success" (click)="acceptOffer()">Aceptar</ion-button>
    <ion-button expand="block" color="danger" (click)="rejectOffer()">Rechazar</ion-button>
  </div>

  <!-- Modal -->
  <ion-modal #imageModal name="imageModal">
    <ng-template>
      <ion-header>
        <ion-toolbar color="secondary">
          <ion-buttons slot="start">
            <ion-button (click)="dismissModal()">Cerrar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <img [src]="image" style="width: 100%; height: auto;" />
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
