<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/home"></ion-back-button> 
    </ion-buttons>
    <ion-title>{{ isDetail ? 'Detalle oferta' : 'Nueva oferta' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- <form (ngSubmit)="onSubmit()"> -->
    <ion-item>
      <ion-input name="title" label="Titulo" labelPlacement="floating" [disabled]="isDetail" [(ngModel)]="offer.title" [ngModelOptions]="{standalone: true}"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Tipo de servicio</ion-label>
      <ion-select name="category" [disabled]="isDetail" [(ngModel)]="offer.category" placeholder="Selecciona categoria">
        <ion-select-option *ngFor="let category of categories" [value]="category._id">{{ category.name }}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Descripción</ion-label>
      <ion-textarea 
        [disabled]="isDetail"
        name="description"
        [(ngModel)]="offer.description" 
        rows="4"
      ></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Horario deseable</ion-label>
      <div class="time-range">
        <ion-input type="time" [disabled]="isDetail" name="startTime" [(ngModel)]="offer.startTime" [ngModelOptions]="{standalone: true}"></ion-input>
        <span>-</span>
        <ion-input type="time" [disabled]="isDetail" name="endTime" [(ngModel)]="offer.endTime" [ngModelOptions]="{standalone: true}"></ion-input>
      </div>
    </ion-item>

    <div class="image-grid">
      <div *ngFor="let image of offer.photos; let i = index" class="image-container">
        <img [src]="image" (click)="openFullscreen(image)" />
      </div>
      <div *ngIf="!isDetail && offer.photos.length < 3" class="image-container add-image" (click)="addImage()">
        <ion-icon name="add"></ion-icon>
      </div>
    </div>

    <ion-button *ngIf="!isDetail" expand="block" (click)="createOffer()">Enviar oferta</ion-button>
  <!-- </form> -->

  <!-- <ion-list> -->
  <ion-item *ngIf="isDetail && offer.status !== 'open'">
    <!-- <div (click)="goToProfile()"> -->
      <ion-avatar slot="start" (click)="goToProfile()">
        <img [src]="'https://picsum.photos/80/80?random=0'" alt="avatar" />
      </ion-avatar>
      <ion-label style="overflow: hidden;" (click)="goToProfile()">
        <h2>{{ role === 'employer' ? offer.workerId.fullName : offer.employerId.fullName }}</h2>
      </ion-label>
    <!-- </div> -->
    <!-- <div> -->
      <ion-icon slot="end" name="chatbubble" (click)="openChat()"></ion-icon>
    <!-- </div> -->
  </ion-item>
  <!-- </ion-list> -->

  <div *ngIf="inProgress" class="ion-padding">
    <ion-button expand="block" color="secondary" (click)="finishJob()">Finalizar trabajo</ion-button>
  </div>

  <div *ngIf="isPending && role === 'worker'" class="ion-padding">
    <ion-button expand="block" color="success" (click)="acceptOffer()">Aceptar</ion-button>
    <ion-button expand="block" color="danger" (click)="rejectOffer()">Rechazar</ion-button>
  </div>

  <!-- ImgModal -->
  <ion-modal #imageModal name="imageModal">
    <ng-template>
      <ion-header>
        <ion-toolbar color="secondary">
          <ion-buttons slot="start">
            <ion-button (click)="dismissModal()">Cerrar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <img [src]="image" style="width: 100%; height: auto;" />
      </ion-content>
    </ng-template>
  </ion-modal>

  <!-- Rating Modal -->
  <ion-modal #ratingModal>
    <ng-template>
      <ion-content>
        <ion-header>
          <ion-toolbar color="secondary">
            <ion-buttons slot="start">
              <ion-button (click)="cancel()">Cerrar</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
  
        <div class="ion-padding">
          <div class="rating-container">
            <div class="stars">
              <ion-icon
                *ngFor="let star of [1, 2, 3, 4, 5]"
                name="star"
                [class.selected]="star <= rating"
                style="font-size: 40px"
                (click)="setRating(star)"
              ></ion-icon>
            </div>
  
            <ion-item class="rating-item">
              <ion-textarea
                label="Comentario"
                labelPlacement="stacked"
                placeholder="Escribe tu comentario aquí"
                [(ngModel)]="comment"
                rows="4"
              ></ion-textarea>
            </ion-item>
  
            <div class="experience-text">
              Califica tu experiencia
            </div>
            <div class="ion-padding">
              <ion-button expand="block" (click)="finishWork()" [disabled]="rating === 0">
                Finalizar
              </ion-button>
            </div>
          </div>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>

  <!-- Date Selection Modal -->
  <ion-modal #dateModal>
    <ng-template>
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>Seleccionar Fecha</ion-title>
          <ion-buttons slot="start">
            <ion-button (click)="dismissDateModal()">Cancelar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-label position="stacked">Fecha de inicio</ion-label>
          <ion-input 
            type="date" 
            [(ngModel)]="selectedDate"
            [min]="getMinDate()"
          ></ion-input>
        </ion-item>

        <div class="ion-padding">
          <ion-button expand="block" (click)="confirmDate()" [disabled]="!selectedDate">
            Confirmar
          </ion-button>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
