.custom-searchbar {
    --background: var(--ion-color-light);
    --border-radius: 8px;
    --box-shadow: none;
    --placeholder-color: var(--ion-color-medium);
}

.filters-button {
    --background: var(--ion-color-secondary)
}